---
import { siteLabels } from "../model/site-labels";
import "./src/styles/global.css";

const title = "Argot - Inflables para eventos";
const description = "Argot ofrece inflables para todo tipo de eventos";
const url = "https://argot.com.ar";
const image = `${url}/argot.svg`;

const showImageBg = Astro.props.showImageBg ?? false;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <title>{title}</title>
    <meta name="description" content={description} />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={url} />
    <meta property="og:image" content={image} />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={image} />
  </head>
  <body>
    <div class="relative w-full h-full overflow-hidden overflow-y-auto">
      {
        !showImageBg && (
          <video
            autoplay
            loop
            muted
            playsinline
            poster="/sky.webp"
            class="fixed top-0 left-0 w-full h-full object-cover -z-10"
          >
            <source src="/sky.webm" type="video/webm" />
            <source src="/sky.mp4" type="video/mp4" />
          </video>
        )
      }
      {
        showImageBg && (
          <img
            src="/sky.webp"
            class="fixed top-0 left-0 min-w-[200%] h-full object-cover moving-bg"
          />
        )
      }
      <header class="fixed top-0 left-0 w-full text-white overflow-hidden">
				<div class="whitespace-nowrap inline-block animate-header leading-10 font-bold drop-shadow-[0_0_4px_rgba(0,0,0,3)]">
          <span>{siteLabels.banner}</span>
        </div>
      </header>

			<main class="relative z-10">
				<slot />
			</main>

      <footer class="fixed bottom-0 left-0 w-full text-white overflow-hidden">
				<div class="whitespace-nowrap inline-block animate-footer leading-10 font-bold drop-shadow-[0_0_4px_rgba(0,0,0,3)]">
          <span>{siteLabels.banner}</span>
					<!-- DISPLAY TRICK -->
          <span aria-hidden="true">{siteLabels.banner}</span>
        </div>
      </footer>
    </div>
  </body>
</html>

<style>

  .moving-bg {
    animation: moveLeft 60s ease-in-out infinite alternate;
  }

  .animate-header {
    animation: moveRight 60s linear infinite running;
  }

  .animate-footer {
    animation: moveLeft 60s linear infinite running;
  }

  @keyframes moveLeft {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }

  @keyframes moveRight {
    from {
      transform: translateX(-50%);
    }
    to {
      transform: translateX(0);
    }
  }
</style>
